$mainFont: 'Spartan', sans-serif;
$secondaryFont: 'Gilroy', cursive;

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');

$primaryClr: hsl(180, 29%, 50%);
$background: hsl(180, 52%, 96%);
$filterTablets: hsl(180, 31%, 95%);
$darkGrayishCyan: hsl(180, 8%, 52%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);

$showImage: true;
$homeImage: url(../images/home-bg-min.jpg);
$backgroundOpacity: 0.85;

$fwNormal: 400;
$fwBold: 700;

$min_vw: 320px;
$max_vw: 2560px;
$min_font: 12px;
$max_font: 50px;
